body {
    font-family: Arial, sans-serif;
}
/* HEADER START */
header {
    background: linear-gradient(to top, #c2f0fe, #2290c7);/* Màu nền cho tiêu đề */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand {
    color: #ffffff !important;                
    font-size: 24px;                            
    font-weight: bold;
    margin-left: 2%;                          
}

.nav-link {
    color: rgb(255, 255, 255) !important;                   
}

.nav-link:hover {
    color: #a7e6ba !important;                  /* Màu khi di chuột qua liên kết điều hướng */
}


.btn-success {
    background-color: #33a852;                  /* Màu nền cho nút thành công */
    border: none;
}

.btn-success:hover {
    background-color: #28a745;                  /* Màu nền khi di chuột qua nút thành công */
}
/* SEARCH START */
.search-bar {
    align-items: center;
}



.search-bar input {
    border: none;
    padding: 5px;
    border-radius: 6px 0 0 6px;                     /* Góc bo tròn cho trường nhập liệu */
}

.search-bar button {
    border: none;
    padding: 5px;
    border-radius: 0 6px 6px 0; 
    background-color: white;                       
    color: rgb(44, 43, 43);                                   
}
/* Khi màn hình có độ rộng nhỏ hơn hoặc bằng 768px */
@media (max-width: 768px) {
    .search-bar input {
        display: none;
    }

    .search-bar .btn {
        display: block;
    }

    .search-bar button {
        background-color: transparent;
    }
}

/* SEARCH END */
/* HEADER END */