* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Đảm bảo padding và border không làm thay đổi kích thước của phần tử */
}

/* Thiết lập nền cho toàn bộ trang */
body {
    background-color: #d5f0f9;
    margin: 0;
    padding: 0;
}
/* Cấu hình header */
header {
    display: flex;
    /* Hiển thị dạng flexbox */
    align-items: center;
    /* Căn giữa theo trục dọc */
    justify-content: space-between;
    /* Khoảng cách đều giữa các phần tử */
    padding: 10px 20px;
    /* Khoảng cách xung quanh */
    background-color: #fff;
    /* Màu nền trắng */
    border-bottom: 1px solid #eaeaea;
    /* Đường viền dưới */
    position: fixed;
    /* Định vị cố định */
    top: 0;
    /* Căn trên */
    left: 0;
    /* Căn trái */
    right: 0;
    /* Căn phải */
    z-index: 1000;
    /* Độ ưu tiên hiển thị */
}

/* Cấu hình phần logo */
.logo {
    display: flex;
    /* Hiển thị dạng flexbox */
    align-items: center;
    /* Căn giữa theo trục dọc */
    width: 18%;
    /* Chiều rộng 100% */

    border-right: 1px solid #eaeaea;
    /* Đường viền phải */

}

/* Cấu hình hình ảnh logo */
.logo img {
    margin-right: 10px;
    /* Khoảng cách bên phải */
}

/* Cấu hình thanh tìm kiếm */
.search-bar {
    flex-grow: 1;
    /* Lớn lên theo không gian còn lại */
    margin: 0 20px;
    /* Khoảng cách xung quanh */
    position: relative;
    /* Định vị tương đối */
}

/* Cấu hình ô nhập liệu trong thanh tìm kiếm */
.search-bar input {
    width: 100%;
    /* Chiều rộng 100% */
    padding: 5px 10px;
    /* Khoảng cách xung quanh */
    border: 1px solid #eaeaea;
    /* Đường viền */
    border-radius: 5px;
    /* Bo góc */
    padding-right: 30px;
    /* Khoảng cách bên phải */
}

/* Cấu hình biểu tượng trong thanh tìm kiếm */
.search-bar i {
    position: absolute;
    /* Định vị tuyệt đối */
    top: 50%;
    /* Căn giữa theo trục dọc */
    right: 10px;
    /* Căn phải */
    transform: translateY(-50%);
    /* Dịch chuyển lên 50% */
    color: #6c757d;
    /* Màu biểu tượng */
}

/* Cấu hình các biểu tượng trong header */
.header-icons {
    display: flex;
    /* Hiển thị dạng flexbox */
    align-items: center;
    /* Căn giữa theo trục dọc */
}

/* Cấu hình kích thước và khoảng cách các biểu tượng */
.header-icons i,
.header-icons img {
    margin: 0 10px;
    /* Khoảng cách xung quanh */
    font-size: 1.2rem;
    /* Kích thước chữ */
}

/* Cấu hình huy hiệu */
.header-icons .badge {
    font-size: 0.75rem;
    /* Kích thước chữ */
    position: relative;
    /* Định vị tương đối */
    top: -10px;
    /* Dịch chuyển lên trên */
    right: 10px;
    /* Dịch chuyển sang phải */
}

/* Cấu hình phần hồ sơ */
.profile {
    display: flex;
    /* Hiển thị dạng flexbox */
    align-items: center;
    /* Căn giữa theo trục dọc */
}

/* Cấu hình hình ảnh trong hồ sơ */
.profile img {
    border-radius: 100%;
    /* Bo tròn */
    margin-right: 10px;
    /* Khoảng cách bên phải */
}